* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ffffff;
}

main {
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    width: 100%;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #84908d;
    color: #051d1a;
    border: 5px solid rgb(255, 255, 255)
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-style: solid;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
}

.hero {
    height: 200px;
    width: 200px;
    margin-bottom: 0px;
    background-image: url("file:///Users/nastacias/Desktop/personal/Screenshot%202023-01-11%20at%2010.08.04%20PM.png");
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(255, 255, 255)
}
    
.content {
    width: 100%;
    display: inline-block;
}

 .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .card:first-child{
    min-height: 150px;
    flex-basis: 100%;
 }

 .card {
    min-height: 150px;
    max-height: 150px;
    margin: 5px 25px;
    width: 44%;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    padding: 10px;
 }

 .card header {
    padding: 20px;
    background:#333736;
    color:#ffffff;
 }

 .card img {
    width: 100%;
    height: 55%;
 }

 .content-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .content-sections h2 {
    flex: 0 0 20%;
 }

 .content-details {
    flex: 0 0 78%;
 }

.About-Me-Section {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #536862;
    color: #ffffff;
    border: 5px solid rgb(255, 255, 255);
}

.Projects-Section {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #536862;
    color: #ffffff;
    border: 5px solid rgb(255, 255, 255);
}

.Contact-Me-Section {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #536862;
    color: #ffffff;
    border: 5px solid rgb(255, 255, 255);
}

.Resume-Section {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #536862;
    color: #ffffff;
    border: 5px solid rgb(255, 255, 255);
}

.About-Me-Section h2 {
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-style: solid;
}

.Projects-Section h2 {
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-style: solid;

}

.Contact-Me-Section h2 {
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-style: solid;
}

.Resume-Section h2 {
    margin-bottom: 0px;
    font-size: 23px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-style: solid;
}
  
  .card header {
    padding: 20px;
  }
  
  .card img {
    width: 100%;
  }

